.table__body {
  .table__row {
    transition: background-color 2s ease;
    padding: 8px 4px;
    word-wrap: break-word;

    &.grow {
      background-color: #18c68330;
    }

    &.fall {
      background-color: #f4433630;
    }
  }

  .table__field {
    border-bottom: 1px solid #ddd;
    padding: 1.5rem;
  }

  .red {
    color: tomato;
  }
}
