.table__row {
  display: grid;
  grid-template-columns: 100px repeat(7, minmax(100px, 300px));
}
.table__row > span {
  padding: 8px 4px;
  word-wrap: break-word;
}

.table__body {
  scroll-snap-align: start;

  .table__field {
    border-bottom: 1px solid #ddd;
    padding: 1.5rem;
  }

  .red {
    color: tomato;
  }
}
